@use 'base/variables' as v;

.alert {
    padding: calc(v.$separacion / 4);
    color: v.$red;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: v.$bold;

    &.error {
        background-color: v.$white;
    }
    &.success {
        background-color: v.$green;
    }
}